* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: transparent;
    margin: 0px;
}

/* image {
    position: relative;

} */

#nav {
    height: 100px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.479);
    position: fixed;
    display: flex;
    margin: 0;
    transition: background-color 0.3s ease-in-out;
}

#nav:hover {
    /* background-color: rgb(139, 75, 75); */
    background: transparent;
    backdrop-filter: blur(10px);
}

.a {
    text-decoration: none;
    color: rgb(233, 228, 235);
    text-shadow: 2px 4px 8px rgba(231, 191, 191, 0.774);
}

a:hover {
    color: darkgray;
    cursor: pointer;

}

#right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 28px;
    margin-left: 380px;
}

.li {
    list-style: none;
    margin: 50px;
    /* margin-top: 20px;  */
    font-size: 18px;
    font-weight: 400;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); */
}

.li:hover {
    transform: scale(1.1);
}

#zomato {
    position: absolute;
    margin: 27vh;
    height: 70px;
    width: auto;
    margin-left: 500px;
}

#p {
    margin: 44vh;
    margin-left: 290px;
    color: rgb(255, 255, 255);
    font-size: 45px;
    position: absolute;
    /* flex-wrap: nowrap; */
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
#ctn{
    border: 1px solid rgba(158, 148, 148, 0.836);
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: 50px;
    border-radius: 10px ;
    position: absolute;
    top: 370px;
    left: 370px;
    right: 370px;
    
}
#icon
{
    position: absolute;
    top: 15px;
    left: 15px;
}
#s{
    width: 500px;
    height: 40px;
    border: 1px solid white;
    position: absolute;
    bottom: 5px;
    left: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    }
#ctn:hover {
    box-shadow: 2px 2px 10px rgba(236, 225, 225, 0.747);
}

#main {
    height: 500px;
    width: 100%;
}

#div_1 {
    margin-top: 25px;
    height: 300px;
    /* width: 100%; */
    /* background-color: rgb(243, 236, 236); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-weight: 900;
    font-size: 20px;
    color: rgba(150, 135, 112, 0.959);
    text-shadow: 40px;
}

.box {
    text-align: center;
    margin: 30px;

}

.box1 {
    margin-left: 80px;
}

.box3 {
    margin-right: 80px;
}

#order {
    height: 200px;
    width: 350px;
    border-radius: 20px;
}

#dining {
    height: 200px;
    width: 350px;
    border-radius: 20px;
}

#nightlife {
    height: 200px;
    width: 350px;
    border-radius: 20px;
}

.dl1 {
    text-align: left;
    margin: 10px;
}

/* #p2{
    margin:35vh; 
    margin-left:10px; 
    color: rgb(236, 173, 173);
    text-align: center;
    font-size: 25px; 
    position: relative; 
} */

#div_2 {
    margin: 0;
    /* background-color: rgba(167, 167, 167, 0.363); */
}

#collection {
    color: rgba(131, 112, 29, 0.884);
    font-size: 300%;
    margin-left: 80px;
    height: fit-content;
    font-weight: 900;
    margin-top: 20px;
}

#heading {
    color: rgba(151, 113, 98, 0.726);
    font-size: 170%;
    margin-left: 80px;
    margin-top: 20px;
    font-weight: 700;
}

#div_3 {
    width: 70%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 55px;
}

.boximg {
    position: relative;
    text-align: center;
    margin: 20px;
}

.img1 {
    height: 250px;
    width: 280px;
    border-radius: 5px;
    transition: transform 1s ease-in-out;
}

.img1:hover {
    transform: scale(1.05);
}

.p_1 {
    position: absolute;
    top: 200px;
    /* left: -70px; */
    color: rgb(255, 252, 252);
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.p_1:hover {
    color: darkgray;
    cursor: pointer;
}

.box_b {
    margin-left: 5px;
}

.box_N {
    margin-left: 25px
}

.p_N {
    left: -70px;
}

.p_b {
    left: 5px;
}

#div_4 {
    height: fit-content;
    width: fit-content;
}

.ul3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 100px;

}

.li3 {
    list-style: none;
}

.a1 {
    text-decoration: none;
    color: grey;
    font-family: 'Times New Roman', Times, serif;
}

.btn {
    height: fit-content;
    width: fit-content;
    font-weight: 400;
    background-color: transparent;
    border: 1px solid #cccccc81;
    border-radius: 5px;
    font-size: 18px;
    padding: 6px;
    margin-left: 20px;
}

.btn_gold {
    width: 80px;
    padding: 3.5px;

}

#goldimg {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    box-shadow: 2px 2px 4px;
    margin-right: 5px;
    margin-top: 5px;

}

#img50 {
    height: 350px;
    width: 1100px;
    border-radius: 10px;
    margin-left: 120px;
    transition: transform 0.5s ease-in-out;
    margin-top:30px ;
}

#img50:hover {
    transform: scale(1.02);
}

#div_5 {
    color: rgba(0, 0, 0, 0.644);
    font-size: 40px;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 120px;
    height: fit-content;
    transition: color 0.3s ease-in-out, cursor 0.2s ease-in-out;
}

#div_5:hover {
    color: rgba(148, 14, 14, 0.89);
    cursor: pointer;
}

#div_main {
    display: grid;
    grid-template-columns: auto auto auto;
    /* column-gap: 5px; */
    row-gap: 10px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 30px;
}

#div_main:hover {
    cursor: pointer;
}

.img_div_6 {
    height: 250px;
    width: 320px;
    border-radius: 5px;
    transition: transform 1s ease-in-out;
}

.img_div_6:hover {
    transform: scale(1.05);
}

.ul_6_1 {
    /* height: 100px;
    width: fit-content; */
    /* line-height: ; */
    list-style: none;
    /* word-wrap: normal; */
    margin: 5px ;
    font-size: 15px;
    color: rgba(133, 65, 38, 0.726);
    overflow: hidden;
    /* text-decoration: ; */
    /* text-wrap:wrap; */
}
.li4
{
    word-wrap:normal;
}

.carpe {
    display: flex;
    gap: 40px;
    /* margin-left: 10px; */
    /* word-wrap: break-word; */
    overflow: hidden;
    white-space: wrap; 
}

.ul_6_2 {
    list-style: none;
    font-size: 0.9em;
    color: rgba(94, 52, 36, 0.726);
    
}

/* li{
    overflow: hidden;
    overflow: hidden;
    white-space: nowrap;
} */
.rating {
    background-color: green;
    width: 20px;
}

.col {
    color: black;
}

#title {
    width: 1100px;
    height: 60px;
    background-color: rgba(214, 240, 231, 0.199);
    margin-top: 40px;
    margin-left: 150px;
    font-size: 30px;
    font-weight: bolder;
    color: rgba(105, 73, 30, 0.822);
    padding: 10px;

}

#main_grid {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 30px;
    margin-right: -200px;
    margin-left: 150px;
    width: fit-content;
    height: fit-content;
}

#add1 {
    width: 350px;
    height: 60px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    border-radius: 10px;
    background:transparent;
    border: 1px solid rgba(232, 232, 232, 0.726);
    text-align: left;
    box-shadow: 2px 2px 2px rgba(192, 187, 187, 0.274);
}

#add1:hover {
    background-color: white;

}

.add_a {
    text-decoration: none;
    color: rgb(105, 92, 92);
}

.arrow {
    text-decoration: none;
    color: rgba(41, 25, 5, 0.685);
    font-size: 18px;
    font-weight: 800;
}

#explore {
    width: 100%;
    height: 500px;
    background-color: rgba(212, 226, 222, 0.137);
}

#exp {
    font-size: 40px;
    margin: 50px 150px;
}

.pop {
    width: 1000px;
    height: 70px;
    background-color: rgba(231, 238, 236, 0.11);
    border: 1px solid rgba(199, 191, 191, 0.733);
    border-radius: 8px;
    margin: 20px 150px;
    font-size: 29px;
    color: rgba(151, 145, 145, 0.788);
    position: relative;
    padding: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#foot {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content;
    height: 50px;
    margin-top: 20px;
    /* margin: 50px; */
    /* margin-left: 10px; */
    /* background-color: blueviolet; */
}

#zomt {
    font-size: 80px;
    font-weight: 800;
    margin-left: 90px;
    /* background-color: rgb(100, 92, 92); */
    color: rgb(146, 51, 51);
    
}

.zom_btn {
    position: relative;
    left: 650px;
    padding-left: 20px;
    /* padding: auto; */
}

.btn_zom {
    font-size: 20px;
    width: 130px;
    height: 50px;
    background-color:transparent;
    border-radius: 5px;
    border: 1px solid rgb(107, 106, 106);
    align-items: center;
    font-family:fantasy;
    
}
.btn_zom1
{
    width: 130px;
    height: 50px;
    /* margin-bottom: 20px; */
    /* padding: 5px; */
}
.foot_btn {
    height: 40px;
    width: 100px;
}

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -150px;
    /* margin-top: 20px; */
    /* justify-content: space-around; */
    background-color: rgba(247, 241, 241, 0.3);
    /* box-shadow: 1px 1px 5px white; */
    /* margin-top: 20px; */
}

footer>div {
    margin-top: 50px;
    margin-left: 120px;
    padding-bottom: 80px;
    /* font-family: 'Times New Roman', Times, serif; */
    /* display:inline-block; */
}

footer>div>span {

    word-spacing: 5px;
    font-weight: 600;
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* text-decoration: underline; */
}

footer>div>ul {

    margin-top: 8px;

}

footer>div>ul>li {

    margin-top: 5px;
    list-style: none;
}

footer>div>ul>li:hover {
    cursor: pointer;
    text-decoration: underline;
}
#footer_ul
{
    display: flex;
    justify-content: space-between;
}

.footer_img

{
    height: 20px;
    width: 20px;

}
.footer_ul2

{
    height: 50px;
    width: 140px;

}
.flag
{
    height: 20px;
    width: 25px;
    margin-left: -20px;
    margin-top: 8px;
    position: relative;
}
.flag1
{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.ul_6_2{
    position: relative;
    left: -50px;

}
